.btn {
	width: 20rem;
	height: 5rem;
	background-color: $bgc;
	border: none;
	font-family: 'Muli', serif;
	font-size: 2rem;
	text-transform: uppercase;
	color: $white;
	text-shadow: 0 .2rem .4rem rgba(0, 0, 0, .2);
	box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .4);
	cursor: pointer;
	opacity: $zero;
	animation: $animation .9s forwards;
}