.img-wrapper {
	width: 100%;
	height: 100%;
	background-color: $black;
	overflow: hidden;

    & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
        animation: scale 25s ;
    }
}