@mixin phone {
   @media screen and (max-width: 800px) {
    @content;
   } 
}

@mixin flexMid {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin flexColumn {
   display: flex;
   flex-direction: column;
}