// Color

$purple: purple;
$white: #fff;
$black: rgba(0, 0, 0, 0.8);
$bgc: #c29525;
$red: red;
$reders: #a52a2a;
$grey: #4b4b4b;
$zero: 0;
$text-color: #555;
$creme: #f5f5f5;
$whiter: #eee;

// $color-text: #;
// $color-text-alt : #;
// $color-button: #;
// $color-bg-first: #;
// $color-bg-second: #;
// $color-footer: #;
// $color-white: #;
// $color-light-text: #;

// Font size
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;

// Breakpoints for responsive
$breakpoint-small: 500px;
$breakpoint-medium: 800px;
$breakpoint-large: 1000px;


// Font family
$Roboto: 'Roboto', sans-serif;
$Baloo: "Baloo Da 2", serif, sans-serif;
$Gill: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$Muli: "Muli", serif;
$big-title: 5rem;
$animation: moveBanner 1s ;
// $font-family-title: ;
// $font-family-label: ;
// $font-family-namesite: ;
// $font-family-quotes: ;

